[branch]
  autosetupmerge = true
  autosetuprebase = always
[pull]
  rebase = preserve
  ff = true
[merge]
  ff = false
  conflictstyle = diff3
[push]
  default = simple
[commit]
  template = ~/.gitmessage
[alias]
  pushforce = push --force-with-lease
  lg = log --color --graph --pretty=format:'%Cred%h%Creset -%C(yellow)%d%Creset %s %Cgreen(%cr)%C(bold blue)<%an>%Creset' --abbrev-commit
  ll = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --numstat
  ls = log --pretty=format:"%C(yellow)%h%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate
  ld = log --pretty=format:"%C(yellow)%h\\ %ad%Cred%d\\ %Creset%s%Cblue\\ [%cn]" --decorate --date=relative
  fl = log -u
  cp = cherry-pick
  st = status -sb
  cl = clone
  ci = commit
  co = checkout
  br = branch
  worddiff = diff --word-diff
  dc = diff --cached
  fa = fetch --all
  fap = fetch --all --prune
[user]
  email = xxx.xxx@xxxxx.com
  name = xxx
[core]
  pager = diff-so-fancy | less --tabs=4 -RFX
  excludesfile = ~/.gitignore
[interactive]
  diffFilter = (echo && diff-so-fancy | less --tabs=4 -RFX)
[diff]
  algorithm = minimal
  renames = true
  compactionHeuristic = true
[color "diff"]
  frag = magenta bold
  old = red bold
  new = green bold
  whitespace = red reverse
[color "diff-highlight"]
  oldNormal = "red bold"
  oldHighlight = "red bold 52"
  newNormal = "green bold"
  newHighlight = "green bold 22"
